<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>Hi {{name}}</p>
<div>
    <button onclick="login()">Log in</button>
</div>
<div>
    <button>Sign up</button>
</div>
<script>
    function login()
    {
        
    }
</script>